<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Test</title>
</head>
<body>
<p>
    {var $text = 'mail.greating'}
    {$text|translate} {* funguje *}
    {_mail.greating}
</p>
</body>
</html>
